Test report summaries for this fork modifications
==================================================

Initial score after forking
-------------------------------------
_PHP 5.3_

Failed 23/214 test scripts, 89.25% okay. 78/5864 subtests failed, 98.67% okay.

24th October 2013
---------------------------
_PHP 5.3_

Failed 21/214 test scripts, 90.19% okay. 21/5864 subtests failed, 99.64% okay.

After afFrmFilterDoctrine calmelize callback
------------------------------------------------------
_PHP 5.5_

Failed 23/214 test scripts, 89.25% okay. 78/5864 subtests failed, 98.67% okay.

No /e warnings
--------------
_PHP 5.5_

Failed 23/214 test scripts, 89.25% okay. 78/5864 subtests failed, 98.67% okay.

27th jan 2014
------------
_PHP 5.5_

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

26th feb 2014
------------
_PHP 5.5_

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

18th march 2014
--------------
_PHP 5.5_

*sfFormObject /e modifier fix*

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

13th aprill 2014
--------------
_PHP 5.5_

*Doctrine count query having field fix*

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

22nd aprill 2014
----------------
_PHP 5.5_

*Doctrine - allow SQL subqueries in select*

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

6th August 2014
---------------
_PHP 5.5_

*doctrine array-diff issue(community fix)*

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

8th November 2014
---------------
_PHP 5.5_

*doctrine query backtrace*

Failed 20/214 test scripts, 90.65% okay. 20/5864 subtests failed, 99.66% okay.

28th September 2015
---------------
_PHP 5.6_

*redirect backtrace*

Failed 25/214 test scripts, 88.32% okay. 22/5194 subtests failed, 99.58% okay.

24th October 2015
---------------
_PHP 5.6_

*Updated Doctrine form filter.*

Failed 25/214 test scripts, 88.32% okay. 22/5194 subtests failed, 99.58% okay.

16th November 2015
---------------
_PHP 5.6_

*Updated Doctrine collection.*

Failed 25/214 test scripts, 88.32% okay. 22/5194 subtests failed, 99.58% okay.

